# SERVER
HOST="0.0.0.0"
PORT=8080

# DATABASE
DATABASE_URL=postgresql://<DB_USERNAME>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>?schema=<DB_SCHEMA>

# JWT
JWT_SECRET_KEY=<YOUR_JWT_SECRET_KEY>
JWT_EXPIRATION=<YOUR_JWT_EXPIRATION>

# CLOUDINARY
CLOUDINARY_NAME=<YOUR_CLOUDINARY_NAME>
CLOUDINARY_API_KEY=<YOUR_CLOUDINARY_API_KEY>
CLOUDINARY_API_SECRET=<YOUR_CLOUDINARY_API_SECRET>
